<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Telefonski imenik</title>

    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          rel="stylesheet">

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container my-2">
    <div class="alert alert-success" role="alert" th:if="${saveSuccess}">
        Uspješno ste spremili osobu
    </div>

    <div class="alert alert-success" role="alert" th:if="${updateSuccess}">
        Uspješno ste ažurirali osobu
    </div>

    <h2>Telefonski imenik</h2>

    <hr>
    <br/>

    <form method="POST" th:object="${osobaAdresaForm}">
        <div style="margin-bottom: 20px">
            <h5>Unesite osnovne podatke:</h5>
        </div>

        <div>
            <input th:field="*{osoba.id}" type="hidden">

            <input class="form-control mb-4 col-4" placeholder="Prezime" th:field="*{osoba.prezime}" type="text">

            <input class="form-control mb-4 col-4" placeholder="Ime" th:field="*{osoba.ime}" type="text">

            <input class="form-control mb-4 col-4" placeholder="Telefonski broj" th:field="*{osoba.broj}" type="text">

            <input class="form-control mb-4 col-4" placeholder="OIB" th:field="*{osoba.oib}" type="text">
        </div>

        <br/>

        <div style="margin-bottom: 20px">
            <h5>Unesite adresu:</h5>
        </div>

        <div>
            <input th:field="*{adresaList[0].id}" type="hidden">

            <input class="form-control mb-4 col-4" placeholder="Grad" th:field="*{adresaList[0].grad}"
                   type="text">
            <input class="form-control mb-4 col-4" placeholder="Ulica" th:field="*{adresaList[0].ulica}"
                   type="text">
            <input class="form-control mb-4 col-4" placeholder="Broj" th:field="*{adresaList[0].ulicniBroj}"
                   type="text">
            <br/>
        </div>

        <button class="btn btn-info col-2" type="submit"> Spremi</button>
    </form>

    <hr>

    <a class="btn btn-primary mb-3" th:href="@{${osobaPretraga.path}}"> Nazad na početnu stranicu</a>
</div>
</body>
</html>